@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Staatliches&display=swap');

/* Navbar */

#navbar-color{
    background-color: #69b6ff;
}

.navi-logo{
    font-family: 'Staatliches', cursive;
}

.navbar a{
    font-weight: 500;
}

.navbar-collapse{
    justify-content: flex-end;
}

/* Page headers */

.section-heading{
    font-family: 'Anton', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* Pricing */

.pricing-container{
    height: calc(100vh - 56px);

    background: url(../images/hero-image-gym.jpg) no-repeat center;
    background-size: cover;
}

/*.pricing-container{
    height: calc(100vh - 56px);

    background: url(../images/hero-image-gym.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: center;
    position: relative;
}*/

/* Testimonials */

.testimonials-container{
    padding: 20px;
}

.testimonials-container .section-heading{
    margin-bottom: 30px;
}

.blockquote-content{
    margin: 30px;
}

.blockquote-content p{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.blockquote-content .member-name{
    font-weight: bold;
}

.test-members-content img{
    border: 2px solid grey;
}

/* Schedule */

.schedule-container{
    min-height: calc(100vh - 136px);
}

.booking-number{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.trainer-info-container{
    margin-top: 10px;
}

.rel_fit_trainer_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 4px 8px 3px grey;
}

.trainer-info-container p{
    font-family: 'Lato', sans-serif;
}

.trainer-info-container img{
    margin-top: 15px;
}

/* About */

.about-us-container{
    min-height: calc(100vh - 136px);
    padding: 50px;
}

.about-us-container h4{
    font-weight: 700;
}

.about-us-container .row{
    margin-top: 20px;
}

.open-history-wrap{
    font-family: 'Lato', sans-serif;
    display: contents;
    text-align: center;
}

.about-us-container img{
    float: right;
}

.equipment-classes-content-wrap{
    font-family: 'Lato', sans-serif;
    float: left;
    margin-top: 50px;
}

/* Contact */

.contact-us-container{
    min-height: calc(100vh - 136px);
}

.location-contact-info-wrap{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.location-contact-info-wrap h4{
    font-weight: 700;
}

.contact-social-wrap{
    margin-top: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 150px;
}

.contact-social-wrap h4{
    font-weight: 700;
    margin-bottom: 25px;
}

.contact-social-wrap a{
    text-decoration: none;
}

.contact-form-wrap{
    padding: 20px;
    margin-top: 10px;
}

/* Footer */

footer{
    text-align: center;
    font-family: 'Lato', sans-serif;
    bottom: 0;
    height: 80px;
}

.footer-color{
    background-color: #69b6ff;
}

.footer-container p{
    color: #000;
}

.footer-container a{
    color: #000;
    font-size: 32px;
    margin: 2px;
    padding: 5px;
}

.footer-container a:hover{
    color: rgb(63, 63, 63);
}

/* Media Queries */

@media only screen and (min-width: 770px){
    .trainer-info-container p{
        margin-top: 50px;
        font-size: 20px;
    }
    
    .trainer-info-container img{
        height: 200px;
    }
}