@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Staatliches&display=swap');

/* Navbar */

.navi-logo{
    font-family: 'Staatliches', cursive;
}

/* Page headers */

.section-heading{
    font-family: 'Anton', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* Offers */

.offers-container{
    height: 95vh;

    background: url(../images/danielle-cerullo-CQfNt66ttZM-unsplash.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: center;
    position: relative;
}

/*credit - code for opaque-overlay taken from https://github.com/Code-Institute-Solutions/BootstrappingYourNextBigIdea-BS4/tree/master/04-BeyondBootstrap/01-updating_our_callout*/
.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*credit - code to center text taken from https://www.w3schools.com/howto/howto_css_image_text.asp*/
.offers{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 50px;
}

.offerOne{
    margin-top: 50px;
    margin-bottom: 50px;
}

.offerOne h1, .offerTwo h1{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #fff;
}

.offerOne button, .offerTwo button{
    margin-top: 15px;
}

/* Testimonials */

.testimonials-container{
    /*height: 100vh;*/
    margin-top: 30px;
    padding: 2px;
}

.testimonials-container .section-heading{
    margin-bottom: 30px;
}

.blockquote-content{
    margin-bottom: 30px;
}

.blockquote-content p{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.blockquote-content .member-name{
    font-weight: bold;
}

/* Schedule */

.booking-number{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.trainer-info-container{
    margin-top: 10px;
}

.trainer-info-container p{
    font-family: 'Lato', sans-serif;
}

.trainer-info-container img{
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
}

/* Buttons */

/* Footer */

footer{
    text-align: center;
    font-family: 'Lato', sans-serif;
    bottom: 0;
}

.footer-container p{
    color: #fff;
}

.footer-container a{
    font-size: 22px;
    margin-right: 1px;
    margin-left: 1px;
}

/* Media Queries */

@media only screen and (min-width: 770px){
    .trainer-info-container p{
        margin-top: 50px;
        font-size: 20px;
    }
    
    .trainer-info-container img{
        height: 200px;
    }
}