@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Staatliches&display=swap');

/* Navbar */

#navbar-color{
    background-color: #69b6ff;
}

.navi-logo{
    font-family: 'Staatliches', cursive;
}

.navbar a{
    font-weight: 400;
}

.navbar-collapse{
    justify-content: flex-end;
}

/* Page headers */

.homepage-logo{
    font-family: 'Staatliches', cursive;
    font-size: 470%;
    padding-top: 40px;
}

.section-heading{
    font-family: 'Anton', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* Saftey badge, homepage logo and slogan */

.logo-slogan-wrap{
    z-index: 1;
    height: 13rem;
    width: 35rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: auto;

    position: relative;
    top: 50px;
}

.slogan{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.saftey-and-pricing-container img{
    float: right;
    position: relative;
    top: -180px;

}

/* Pricing */

.saftey-and-pricing-container{
    height: calc(90vh - 56px);

    background: url(../images/hero-image-gym.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pricing-container{
    position: relative;
    top: 140px;
}

/* Code for centering the cards found at https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/ */
.card-group{
    display: flex;
    flex-flow: row;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.card{
    font-family: 'Lato', sans-serif;
    max-width: 18rem;
    border: 1px solid grey;
    margin: 10px;
    min-width: 16rem;
}

.card-header{
    font-size: 20px;
    font-weight: 500;
    background-color: #c5c5c5;
}

.card-header h4{
    margin: 0;
}

.card-body{
    padding: 10px;
}

.card-body p{
    padding: 5px;
}

/* Testimonials */

.testimonials-container{
    padding: 20px;
}

.testimonials-container .section-heading{
    margin-bottom: 30px;
}

.blockquote-content{
    margin: 30px;
}

.blockquote-content p{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.blockquote-content .member-name{
    font-weight: bold;
}

.test-members-content img{
    border: 2px solid grey;
}

/* Schedule */

.schedule-container{
    min-height: calc(100vh - 136px);
}

.booking-number{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.trainer-info-container{
    margin-top: 75px;
}

.rel_fit_trainer_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 4px 8px 3px grey;
}

.trainer-info-container p{
    font-family: 'Lato', sans-serif;
}

.trainer-info-container img{
    margin-top: 15px;
}

/* About */

.about-us-container{
    min-height: calc(100vh - 136px);
    padding: 50px;
}

.about-us-container h4{
    font-weight: 700;
}

.about-us-container .row{
    margin-top: 20px;
}

.open-history-wrap{
    font-family: 'Lato', sans-serif;
    display: contents;
    text-align: center;
}

.about-us-container img{
    float: right;
}

.equipment-classes-content-wrap{
    font-family: 'Lato', sans-serif;
    float: left;
    margin-top: 50px;
}

/* Contact */

.contact-us-container{
    min-height: calc(100vh - 136px);
}

.location-contact-info-wrap{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.location-contact-info-wrap h4{
    font-weight: 700;
}

.contact-social-wrap{
    margin-top: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 150px;
}

.contact-social-wrap h4{
    font-weight: 700;
    margin-bottom: 25px;
}

.contact-social-wrap a{
    text-decoration: none;
}

.contact-form-wrap{
    padding: 20px;
    margin-top: 10px;
}

.contact-form-wrap input, .contact-form-wrap label, .contact-form-wrap textarea{
    padding: 5px;
}

/* Footer */

footer{
    text-align: center;
    font-family: 'Lato', sans-serif;
    bottom: 0;
    height: 80px;
}

.footer-color{
    background-color: #69b6ff;
}

.footer-container p{
    color: #000;
    margin: 0;
}

.footer-container a{
    color: #000;
    font-size: 32px;
    margin: 2px;
    padding: 5px;
}

.footer-container a:hover{
    color: rgb(63, 63, 63);
}

/* Media Queries */

@media only screen and (min-width: 500px){
    .trainer-info-container p{
        margin-top: 50px;
        font-size: 20px;
    }
    
    .trainer-info-container img{
        height: 200px;
    }
}

@media only screen and (max-width: 1399px){
    .trainer-info-container{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1357px){
    .about-us-container img{
        height: 200px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1024px){
    .saftey-and-pricing-container img{
        height: 175px;
    }

    .card{
        min-width: 14rem;
    }
}

@media only screen and (max-width: 911px){
    .saftey-and-pricing-container img{
        height: 150px;
    }
    
    .about-us-container img{
        height: 130px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px){
    .logo-slogan-wrap{
        top: 130px;
    }
    
    .saftey-and-pricing-container img{
        height: 120px;
    }

    .pricing-container{
        top: 180px;
    }

    .card{
        min-width: 10rem;
    }
}

@media only screen and (max-width: 575px){
    .card{
        min-width: 8rem;
    }

    .about-us-container{
        padding: 20px;
    }

    .about-us-container img{
        height: 200px;
        float: none;
        margin-top: 0;
    }

    .open-history-wrap{
        text-align: left;
    }

    .location-contact-info-wrap{
        margin-top: 10px;
    }

    .contact-social-wrap{
        margin-top: 10px;
    }

    .contact-us-container img{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 540px){
    .logo-slogan-wrap{
        width: 380px;
        font-size: 64%;
        top: 90px;
    }
    
    .saftey-and-pricing-container img{
        height: 100px;
    }

    .pricing-container{
        top: 140px;
    }

    .card{
        min-width: 10rem;
    }

    .card-body p, .card-footer button{
        font-size: 80%;
    }

    .card-header h4{
        font-size: 14px;
    }

    .card-header{
        padding: 4px;
    }

    .card-body h1{
        font-size: 23px;
        margin-bottom: 4px;
    }

    .card-text{
        padding: 2px;
    }

    .card-footer{
        padding: 5px;
    }

    .btn-lg{
        padding: 6px;
    }
}

@media only screen and (max-width: 414px){
    .saftey-and-pricing-container img{
        height: 75px;
    }

    .pricing-container{
        top: 120px;
    }

    .card{
        min-width: 8rem;
        margin: 2px;
    }

    .card-body p, .card-footer button{
        font-size: 80%;
    }

    .card-header h4{
        font-size: 14px;
    }

    .card-header{
        padding: 4px;
    }

    .card-body h1{
        font-size: 22px;
        margin-bottom: 4px;
    }

    .card-text{
        padding: 2px;
    }

    .card-footer{
        padding: 5px;
    }

    .btn-lg{
        padding: 6px;
    }
}

@media only screen and (max-width: 375px){
    .logo-slogan-wrap{
        width: 290px;
        font-size: 64%;
        top: 40px;
    }

    .slogan{
        font-size: 20px;
    }

    .saftey-and-pricing-container img{
        height: 70px;
        top: -200px;
    }

    .pricing-container{
        top: 55px;
    }

    .card-group{
        margin-bottom: 0;
    }
    
    .card{
        margin: 4px;
        min-width: 7rem;
    }

    .card-body p, .card-footer button{
        font-size: 80%;
    }

    .card-header h4{
        font-size: 14px;
    }

    .card-header{
        padding: 4px;
    }

    .card-body h1{
        font-size: 23px;
        margin-bottom: 4px;
    }

    .card-text{
        padding: 2px;
    }

    .card-footer{
        padding: 5px;
    }

    .btn-lg{
        padding: 6px;
    }
}

@media only screen and (max-width: 360px){
    .logo-slogan-wrap{
        width: 240px;
        font-size: 60%;
        top: 40px;
    }

    .slogan{
        font-size: 18px;
    }

    .saftey-and-pricing-container img{
        height: 65px;
    }

    .pricing-container{
        top: 70px;
    }

    .card-group{
        margin-bottom: 0;
    }
    
    .card{
        margin: 4px;
    }

    .card-body p, .card-footer button{
        font-size: 70%;
    }

    .card-header h4{
        font-size: 14px;
    }

    .card-header{
        padding: 2px;
    }

    .card-body h1{
        font-size: 22px;
        margin-bottom: 3px;
    }

    .card-text{
        padding: 2px;
    }

    .card-footer{
        padding: 4px;
    }

    .btn-lg{
        padding: 5px;
    }
}

@media only screen and (max-width: 320px){
    .logo-slogan-wrap{
        width: 240px;
        font-size: 60%;
        top: 25px;
    }

    .slogan{
        font-size: 18px;
    }

    .pricing-container{
        top: 30px;
    }

    .saftey-and-pricing-container img{
        height: 50px;
        
    }

    .card-group{
        margin-bottom: 0;
    }
    
    .card{
        margin: 2px;
        min-width: 6rem;
    }

    .card-body p, .card-footer button{
        font-size: 60%;
    }

    .card-header h4{
        font-size: 10px;
    }

    .card-header{
        padding: 2px;
    }

    .card-body h1{
        font-size: 18px;
        margin-bottom: 1px;
    }

    .card-text{
        padding: 2px;
    }

    .card-footer{
        padding: 4px;
    }

    .btn-lg{
        padding: 5px;
    }
}

@media only screen and (max-width: 280px){
    .card{
        min-width: 5rem;
    }

    .saftey-and-pricing-container img{
        top: -208px;
    }

    .pricing-container{
        top: 60px;
    }
}